<div class="row">

    <h1>Toy2 - Conversion Tools</h1>
    <form>
        <div class="field row">
            <input class="eight columns number input" ng-model="meter" ng-change="changeConversionMeter()" id="meter" placeholder="Enter meter" type="number" />
            <label class="inline four columns" for="meter">meter</label>
        </div>
        <div class="field">
            <input class="eight columns number input" ng-model="inch" ng-change="changeConversionInch()" id="inch" placeholder="Enter inch" type="number" />
            <label class="inline four columns" for="inch">inch</label>
        </div>            
    </form>

</div>